* {
    box-sizing: border-box;
    }
    
body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.fejlec {
    width: 80%;
    margin: 0 auto;


}

.logo {

    width: 150px;
    height: 70px;
    float: left;
    padding: 10px 0;
}

header {
    position:sticky;
    width:100%;
    background: #55d6aa;
    border-bottom: #222 10px solid;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: white;

}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: white;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}
@media screen and (max-width: 850px){
    header{
        display:flex;
        flex-direction: column;
    }
    #h2a, #h2b{
        font-size: 14px;
    }
    .szoveg1, .szoveg2, .szoveg3,.szoveg4{
        font-size:11px;
    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background-color: white;
    
        position: absolute;
        top: 40px;
        width: 0%;
    
        transition: all ease-in-out 250ms;
    }
    .fejlec img{
        margin-top: 10%;
        align-self: center;
    }
    
    .fejlec{
        display:flex;
        flex-direction: column;
    }
    .szoveg2 ul{
        padding:0;
    }
    nav {
        padding:20px;
        display: flex;
        align-self: center;

    }
    nav ul{
        padding:0;
        text-align: center;
    }
    nav li{
        display: list-item;
        margin:0;
    }
    #gomb{
        font-size:11px;
        margin:0;
    }
}
@media screen and (min-width: 850px) and (max-width: 1170px){
    nav{
        width: 100%;
        padding-bottom: 20px;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
    }
    nav li{
        margin:0;
    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background-color: white;
    
        position: absolute;
        top: 40px;
        width: 0%;
    
        transition: all ease-in-out 250ms;
    }
    .fejlec img{
        align-self: center;
    }
    
    .fejlec{
        width:100%;
        display:flex;
        flex-direction: column;
    }

}

/* Programok CSS Programok CSS Programok CSS Programok CSS Programok CSS Programok CSS Programok CSS Programok CSS */

.flexcontainer{
    display: flex;
    flex-direction: column;


}
.valtozo{
    scale:1,1;
    margin-top: 15%;
    margin-left: 50%;
    padding:0;
    width: 1602px;
    height:400px;
    transform:  translate(-50%,-50%);
    overflow: hidden;
    border: 20px solid white;
    border-radius: 8px;
    box-shadow: 20px 25px 30px black;
}
.csusztat{
    display: flex;
    width:100%;
    animation: slide 16s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform:translateX(-201%);
    }
    75%{
        transform:translateX(-201%);
    }
    80%{
        transform:translateX(-302%);
    }
    100%{
        transform:translateX(-302%);
    }

}
.csusztatottkepek{
    border-right: white 10px solid;
    height:auto;
    width:524px;
}
#sitabor{
    float: left;
    width:70%;
    background-color: #3D3F43;
    color:white;
    padding:20px;
    display:flex;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    box-shadow: 10px 25px 30px black;
    transition: 0.3s ease;
    overflow: hidden;
    border:10px solid;
    border-image: linear-gradient(
        to right,
        rgb(85,214,170),
        rgb(255,255,255)
    );
    border-image-slice: 1;
    


}

#sitabor:hover{
    transform: scale(1.05);
}

#jelentkezem{
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 800;

}

#gomb a:hover{
    color:#55d6aa;
}
#gomb{
    width: min-content;
    padding: 10px;
    background-color: #55d6aa;
    border: white 4px solid;
    transition: 0.3s ease;
    box-shadow: 5px 10px 15px black;
}
#gomb:hover{
    transform: scale(1.1);
    background-color: white;
    color: #55d6aa;
    border: #55d6aa 4px solid;
    padding: 10px;
}

.szoveg1{
    padding-right:15px;
    max-width: 900px;
}
#sitaborkep{
    border:white 3px solid;
    width:600px;
    height:350px;

}
#h2a{
    text-align: center;
    color:#55d6aa;
}

#h2b{
    text-align: center;
    color:#55d6aa;
    
}
.kori{
    align-self: flex-end;
    background-color: #3D3F43;
    color:white;
    padding:20px;
    display:flex;
    margin-right: 50px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    width:70%;
    box-shadow: 10px 25px 30px black;
    transition: 0.3s ease;
    border:10px solid;
    border-image: linear-gradient(
        to left,
        rgb(85,214,170),
        rgb(255,255,255)
    );
    border-image-slice: 1;
    
}
.kori:hover{
    transform: scale(1.05);

}
#korcsolyakep{
    border:white 3px solid;
    width:600px;
    height:350px;

}
.szoveg2{
    max-width: 900px;
    padding-left: 15px;
}
.kirandulas{
    float: left;
    width:70%;
    background-color: #3D3F43;
    color:white;
    padding:20px;
    display:flex;
    margin-left: 50px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    box-shadow: 10px 25px 30px black;
    transition: 0.3s ease;
    border:10px solid;
    border-image: linear-gradient(
        to right,
        rgb(85,214,170),
        rgb(255,255,255)
    );
    border-image-slice: 1;
    

}
.kirandulas:hover{
    transform: scale(1.05);
}
#erdokep{
    border:brown 3px solid;
    width:600px;
    height:350px;

}
.szoveg3{
    padding-right:15px;
    text-align: left;

}
.atletika{
    float: right;
    background-color: #3D3F43;
    color:white;
    padding:20px;
    display:flex;
    margin-right: 50px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    align-self: flex-end;
    width:70%;
    box-shadow: 10px 25px 30px black;
    margin-bottom: 50px;
    transition: 0.3s ease;
    border:10px solid;
    border-image: linear-gradient(
        to left,
        rgb(85,214,170),
        rgb(255,255,255)
    );
    border-image-slice: 1;

}
.atletika:hover{
    transform: scale(1.05);
}
#atletikakep{
    border:rgb(26, 225, 26) 3px solid;
    width:600px;
    height:350px;

}

@media screen  and (max-width: 1700px){
    .valtozo{
        max-width:625px;
        width:85vmin;
        overflow:hidden;
        border: 20px solid white;
        border-radius: 8px;
        margin-top: 40%;
        height:auto;


    }
    .csusztat{
        width:100%;
        display:flex;
        animation: slide 30s infinite;

    }
    @keyframes slide{
        0%{
            transform: translateX(0);
        }
        7%{
            transform: translateX(-100%);
        }
        15%{
            transform: translateX(-200%);
        }
        22%{
            transform: translateX(-300%);
        }
        29%{
            transform:translateX(-400%);
        }
        37%{
            transform:translateX(-500%);
        }
        45%{
            transform:translateX(-600%);
        }
        52%{
            transform:translateX(-700%);
        }
        59%{
            transform:translateX(-800%);
        }
        66%{
            transform:translateX(-900%);
        }
        73%{
            transform:translateX(-1000%);
        }
        81%{
            transform:translateX(-1100%);
        }
        85%{
            transform:translateX(-1100%);
        }
        100%{
            transform:translateX(0);
        }
    
    }
    .csusztatottkepek{
        height:auto;
        width:100%;
        border: none;
        border-left: 2px white solid;
    }
    #sitabor{
        text-align: center;
        width:85%;
        margin:auto;
        align-self: center;
        flex-direction: column;
        margin-bottom: 80px;
    }
    .kori{
        width:85%;
        text-align: center;
        margin:auto;
        float: none;
        align-self: center;
        flex-direction: column-reverse;
        margin-bottom: 80px;

    }
    .kirandulas{
        width:85%;
        text-align: center;
        margin:auto;
        align-self: center;
        flex-direction: column;
        margin-bottom: 80px;

    }
    .atletika{
        width:85%;
        text-align: center;
        margin:auto;
        align-self: center;
        flex-direction: column-reverse;
        float: none;
        margin-bottom: 80px;

    }
    #sitaborkep{
        width:100%;
        height: auto;
    }
    #korcsolyakep{
        width:100%;
        height: auto;

    }
    #erdokep{
        width:100%;
        height: auto;
    }
    #atletikakep{
        width:100%;
        height: auto;
    }

    #gomb{
        margin:auto;
        margin-bottom: 20px;
        max-width: fit-content;
    }
    .atletika li{
        text-align: left;
    }
    .szoveg1{
        width: 100%;
        max-width: max-content;
    }
    .szoveg2{
        width: 100%;
        max-width: max-content;

    }



}

/* Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer*/

footer{
    background-color: #111;
}
.footerContainer{
    width:100%;
    padding: 70px 30px 20px;
}
.mediaikonok{
    display:flex;
    justify-content: center;
}
.mediaikonok a{
    text-decoration: none;
    padding:10px;
    background-color: #55d6aa;
    margin:10px;
    border-radius: 30%;
    transition: 0.3s ease;
}
.mediaikonok a i{
    font-size: 2em;
    color: white;
    opacity: 0.9;
}

.mediaikonok a:hover{
    background-color: white;
    transition:0.3s;
    transform: scale(1.1);

}
.mediaikonok a i:hover{
    color:#55d6aa;
    transition:0.3s;
}

.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0,7;
    transition: 0.3s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color:white;

}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .footerNav ul{
        margin-right:12%;
        flex-direction: column;
        align-self: center;
    }
    .footerNav ul li{
        margin:10px;
        width:100%;
        text-align: center;
    }

}


