* {
    box-sizing: border-box;
    }
    
body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.fejlec {
    width: 80%;
    margin: 0 auto;


}

.logo {

    width: 150px;
    height: 70px;
    float: left;
    padding: 10px 0;
}

header {

    width:100%;
    background: #55d6aa;
    border-bottom: #222 10px solid;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: white;

}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: white;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}
@media screen and (max-width: 850px){
    header{
        display:flex;
        flex-direction: column;
    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background-color: white;
    
        position: absolute;
        top: 40px;
        width: 0%;
    
        transition: all ease-in-out 250ms;
    }
    .fejlec img{
        margin-top: 10%;
        align-self: center;
    }
    
    .fejlec{
        display:flex;
        flex-direction: column;
    }
    nav {
        padding:20px;
        display: flex;
        align-self: center;

    }
    nav ul{
        text-align: center;
    }
    nav li{
        display: list-item;
        margin:0;
    }
}
@media screen and (min-width: 850px) and (max-width: 1170px){
    nav{
        width: 100%;
        padding-bottom: 20px;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
    }
    nav li{
        margin:0;
    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background-color: white;
    
        position: absolute;
        top: 40px;
        width: 0%;
    
        transition: all ease-in-out 250ms;
    }
    .fejlec img{
        align-self: center;
    }
    
    .fejlec{
        width:100%;
        display:flex;
        flex-direction: column;
    }

}
/*Index css Index css Index css Index css Index cssIndex css Index css Index cssIndex cssIndex cssIndex cssIndex cssIndex cssIndex cssIndex cssIndex css*/

.galleria{
    margin-bottom: 70px;
    display: flex;
    align-items: center;
}
.galleria-theme-classic{
    width: 100%;
    background: linear-gradient(#55d6aa,#222);
    margin:auto;

}
.nagyflex{
    display: flex;
    flex-direction: column;
}
.rolunk img{
    width:500px;
    height: auto;

}
.tortenetunk img{
    width:500px;
    height: auto;

}
.rolunk{
    font-family: 'Josefin Sans', sans-serif;
    margin-left:5%;
    margin-right: 5%;
    margin-bottom: 30px;
    margin-top: 30px;
    float: left;
    max-width:fit-content;
    display: flex;
    flex-direction: row;
    border:10px solid;
    border-image: linear-gradient(
        to right,
        rgb(85,214,170),
        rgb(255,255,255)
    );
    border-image-slice: 1;
    box-shadow: 10px 25px 30px black;
    background-color: #333;
    transition: 0.3s ease;
}
.rolunk:hover{
    transform: scale(1.05);
}

.rolunk p{
    margin:auto;
    font-weight: 900;
    font-size: 25px;
    background: linear-gradient(90deg,#55d6aa,#ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tortenetunk{
    font-family: 'Josefin Sans', sans-serif;
    align-self: flex-end;
    margin-left:5%;
    margin-right:5%;
    margin-bottom: 30px;
    margin-top: 30px;
    max-width:fit-content;
    display: flex;
    flex-direction: row-reverse;
    border:10px solid;
    border-image: linear-gradient(
        to left,
        rgb(85,214,170),
        rgb(255,255,255)
    );
    border-image-slice: 1;
    box-shadow: 10px 25px 30px black;
    background-color: #333;
    transition: 0.3s ease;

}
.tortenetunk:hover{
    transform: scale(1.05);
}

.tortenetunk p{
    margin:auto;
    font-weight: 900;
    font-size: 25px;
    background: linear-gradient(90deg,#ffffff,#55d6aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.szoveg{
    padding:20px;
    margin-top: 20px;
    align-self:flex-start;
    max-width:900px;
}
.kepek{
    padding:20px;
}

.kepek img{
    border: white 3px solid;
    border-radius: 5%;

}
h1{
    font-family: 'Josefin Sans', sans-serif;
    color:#55d6aa;
    text-align: center;
    font-size: 35px;
}
.szoveg h2{
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
    color:#55d6aa;
    text-align: center;
}

.kep{
    align-self: center;
}
.kep img{
    display: block;
    border-radius: 10%;
}
.elodiv{
    display: block;
    width:100%;
    height:60px;
}
.galleria-stage{
    margin-top: 40px;
    width:70%;
    height: auto;
    margin: auto;
}
.galleria-thumbnails{
    margin: auto;

}
.galleria-info{
    margin-left: 15%;
    margin-top: 3%;
    opacity: 0;
}
.alapitok {
    font-family: 'Beau Rivage';
}
.hatterdiv{
    margin-top: 80px;
    padding: 50px 60px;
    background: linear-gradient(#222,#55d6aa);
    display: flex;
}
.aszoveg{
    font-family: 'Beau Rivage';
    color: white;
    padding:20px;
    font-size: 40px;
}

.alapitok{
    display:flex;
    flex-direction: row;
}
.alapitok h2{
    color:white;
    font-size: 70px;
    text-align: center;
}

@media screen and (min-width:1300px)and (max-width: 1600px){
    .kepek{
        align-self: center;
    }
    .alapitok{
        flex-direction: column;
    }

}
@media screen and (min-width:650px)and (max-width: 1300px){
    .kepek{
        align-self: center;
    }
    .alapitok{
        max-width: 100%;
        flex-direction: column;
    }
    .rolunk{
        flex-direction: column;
    }
    .tortenetunk{
        flex-direction: column;
    }
    .kep img{
        width:100%;
        border:none;
    }

}
@media screen and (max-width: 650px){
    .kepek{
        align-self: center;
    }
    .alapitok{
        max-width: 100%;
        flex-direction: column;
    }
    .rolunk{
        flex-direction: column;
    }
    .tortenetunk{
        flex-direction: column;
    }
    .kep img{
        width:100%;
        border:none;
        display: flex;
        align-items: center;
    }
    .kepek img{
        display: block;
        margin: auto;
        width:70%;
    }
}
/* Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer*/

footer{
    background-color: #111;
}
.footerContainer{
    width:100%;
    padding: 70px 30px 20px;
}
.mediaikonok{
    display:flex;
    justify-content: center;
}
.mediaikonok a{
    text-decoration: none;
    padding:10px;
    background-color: #55d6aa;
    margin:10px;
    border-radius: 30%;
    transition: 0.3s ease;
}
.mediaikonok a i{
    font-size: 2em;
    color: white;
    opacity: 0.9;
}

.mediaikonok a:hover{
    background-color: white;
    transition:0.3s;
    transform: scale(1.1);

}
.mediaikonok a i:hover{
    color:#55d6aa;
    transition:0.3s;
}

.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0,7;
    transition: 0.3s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color:white;

}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .footerNav ul{
        margin-right:12%;
        flex-direction: column;
        align-self: center;
    }
    .footerNav ul li{
        margin:10px;
        width:100%;
        text-align: center;
    }
    #kuldes{
        text-align: center;
    }

}