* {
    box-sizing: border-box;
    }
    
body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.fejlec {
    width: 80%;
    margin: 0 auto;


}

.logo {

    width: 150px;
    height: 70px;
    float: left;
    padding: 10px 0;
}

header {
    position:sticky;
    width:100%;
    background: #55d6aa;
    border-bottom: #222 10px solid;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: white;

}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: white;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}



.minta {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    size: 200px;



}

.szoveg {
    color: red;
}

.hatter {
    width: 100%;
    background-color: #f2f2f2;
}

.sitaborrol {
    margin: auto;
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #55d6aa;
    font-size: 125%;
    color: #444;

}

h1 {
    color: #3b3a3a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    font-size: 400%;

}

h2{
    color: #3b3a3a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    font-size: 400%;
}

hr {
    height: 3px;
    background-color: #444;
}

.sportbusiness {
    opacity: 0.4;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
}

#rolbem {
    font-size: 50px;
    color: #cacaca;
    font-family: Arial, sans-serif;
    font-weight: 500;
}

.sitabor {
    display: flex;
}

@media screen and (max-width: 850px){
    header{
        display:flex;
        flex-direction: column;
    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background-color: white;
    
        position: absolute;
        top: 40px;
        width: 0%;
    
        transition: all ease-in-out 250ms;
    }
    .fejlec img{
        margin-top: 10%;
        align-self: center;
    }
    
    .fejlec{
        display:flex;
        flex-direction: column;
    }
    nav {
        padding:20px;
        display: flex;
        align-self: center;

    }
    nav ul{
        text-align: center;
    }
    nav li{
        display: list-item;
        margin:0;
    }
}
@media screen and (min-width: 850px) and (max-width: 1170px){
    nav{
        width: 100%;
        padding-bottom: 20px;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
    }
    nav li{
        margin:0;
    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background-color: white;
    
        position: absolute;
        top: 40px;
        width: 0%;
    
        transition: all ease-in-out 250ms;
    }
    .fejlec img{
        align-self: center;
    }
    
    .fejlec{
        width:100%;
        display:flex;
        flex-direction: column;
    }

}


/* Aktuális sítábor Aktuális sítábor Aktuális sítábor Aktuális sítábor Aktuális sítábor Aktuális sítábor Aktuális sítábor*/

.fentihatter{
    background-color:#444444;
    width:100%;

    padding:35px;
    padding-top: 110px;
}
#fejleckep {

    display: flex;
    justify-content: center;
    margin: auto;
    border: solid 5px #55d6aa;
    box-shadow: 10px 25px 30px black;
    
    
}


.flexcontainer {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #56585D;


    display: flex;
    justify-content: space-around;
}

#ah {
    color: #374B43;
    text-align: center;
}

#ah2 {
    color: white;
    text-align: center;
    font-size: 350%;

}

#ah3 {
    color: white;
    text-align: center;
    
}

.aul {
    font-size: 24px;
    color: #374B43;
    font-family: Arial, Helvetica, sans-serif;
}

#bev {
    font-size: 20px;
    color: #374B43;
}



#asidesitabor {

    background-color: #629C85;
    margin-left: 20px;
    font-size: 20px;
    border: solid 5px #55d6aa;
    transition: 0.3s ease;
    padding: 30px;
    height: 750px;
    align-self: center;
    box-shadow: 10px 25px 30px black;


}

#asitabor {
    background-color: #EEFDF6;


    border: solid 5px #55d6aa;

    padding: 30px;
    height: 750px;
    max-width: 600px;
    box-shadow: 10px 25px 30px black;

}

#arkalkulator {
    background-color: #629C85;
    margin-right: 20px;

    border: solid 5px #55d6aa;
    padding: 30px;
    height: 750px;
    max-width: 600px;
    box-shadow: 10px 25px 30px black;
    transition: 0.3s ease;



}

.nagy3 {
    font-size: 20px;
    size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    color: whitesmoke;
    background-color: #629C85;

}

#selecto {
    background-color: #374B43;
    border: 3px white solid;
}

#kaja {
    background-color: #374B43;
    border: 3px white solid;

}

.boxi {
    height: 20px;
    width: 20px;
}

#kalkul {
    transition: 0.3s ease;
    background-color: white;
    color: black;
}
#kalkul:hover{
    transform: scale(1.1);
}

#vegsoar {
    border: none;
}

.jelentkezes {
    color: whitesmoke;
    font-weight: 800;
    transition: 0.3s ease;
}


.kerdesek {
    color:white;
    background-color: #374B43;
    font-size:20px;
    float: right;
    border: solid 1px #374B43;
    border-radius: 5px;
}



.kuldok {
    color: #374B43;
    float: right;
    border: #374B43 solid 4px;
    border-radius: 3px;
    size: 20px;
    font-size: 20px;
    font-weight: 800;
    transition: 0.3s ease;
}
.kuldok:hover{
    transform: scale(1.1);
}

#torles {
    float: left;

}


.flexcontainer2{
    display:flex;
}

#vonal{
    background-color:white;
}

#szeles{
    padding-top: 20px;
    padding-bottom: 100px;

    width:100%;
    background-color: #444;
}
h3{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color:#55d6aa;
}
table{
    border-radius: 15px;
    border:#55d6aa 5px solid;
    margin:auto;
    background-color: whitesmoke;
    box-shadow: 10px 25px 30px black;
}
td{
    margin:0;
    padding:20px;
}
tr{
    border:whitesmoke 1px solid;
}

#sohazkep{
    width:300px;
    height:200px;
}
.cim{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color:#55d6aa;
    background-color: whitesmoke;
    vertical-align: middle;
    text-align: center;
}
.tartalom{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align: top;
    text-align: left;
    color:#374B43;
    font-size: 20px;
    background-color: whitesmoke;
}
@media screen and (max-width: 1500px){
    #fejleckep{
        max-width: 350px;
        height:auto;
    }
    .flexcontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }
    #asidesitabor {
        max-width: 100%;
        margin-left:20px;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;


    
    
    }
    
    #asitabor {
        background-color: #EEFDF6;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    
    
        border: solid 5px #55d6aa;
    
        padding: 30px;
        height: auto;
        width: 100%;
    
    }
    
    #arkalkulator {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #629C85;
        margin-right: 10px;
        margin-left: 10px;
    
        border: solid 5px #55d6aa;
        padding: 30px;
        height: auto;
        max-width: 600px;
    
    
    
    }
    .kerdesek {

        font-size:20px;
        float:none;
        
    }
    table{
        width:100%;
        max-width: 350px;
    }
    #sohazkep{
        width:200px;
        height:125px;
    }
    td{
        padding: 10px;
    }
    .cim{
        vertical-align: top;
    }

}

/* Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer*/

footer{
    background-color: #111;
}
.footerContainer{
    width:100%;
    padding: 70px 30px 20px;
}
.mediaikonok{
    display:flex;
    justify-content: center;
}
.mediaikonok a{
    text-decoration: none;
    padding:10px;
    background-color: #55d6aa;
    margin:10px;
    border-radius: 30%;
    transition: 0.3s ease;
}
.mediaikonok a i{
    font-size: 2em;
    color: white;
    opacity: 0.9;
}

.mediaikonok a:hover{
    background-color: white;
    transition:0.3s;
    transform: scale(1.1);

}
.mediaikonok a i:hover{
    color:#55d6aa;
    transition:0.3s;
}

.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0,7;
    transition: 0.3s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color:white;

}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .footerNav ul{
        margin-right:12%;
        flex-direction: column;
        align-self: center;
    }
    .footerNav ul li{
        margin:10px;
        width:100%;
        text-align: center;
    }

}



